{% extends 'base.html' %}
{% block title %}Bosh sahifa{% endblock title %}
{% block content %}
<br/>
<div class="jumbotron">
    <h1 class="display-4">Assalomu aleykum</h1>
    <p class="lead">Mening shaxsiy blogimga xush kelibsiz</p>
    <hr class="my-4">
    <p>Mening ismim Amirxon va bu yerda siz eng so'ngi yangiliklardan habardor bo'lishingiz mumkin</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Postlarni ko'rish</a>
    </p>

</div>
{% endblock content %}